body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
  size: 500px;
}

.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.tabs .tab a {
  color: #23b9ef;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #F44336;
}


.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #F44336;
  will-change: left, right;
}